<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="fb2734e9-317f-4b83-8827-be0a21615909" name="https://maps.googleapis.com Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="fb2734e9-317f-4b83-8827-be0a21615909fileName">https%3A%2F%2Fmaps.googleapis.com-Test-Suite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
