<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f48503d6-fea5-4c93-9212-ae094b13cf16" name="https://maps.googleapis.com Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="f48503d6-fea5-4c93-9212-ae094b13cf16fileName">https%3A%2F%2Fmaps.googleapis.com-Test-Suite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="a1212005-934d-4a60-a71c-2e489130cf68">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
