<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="cb75559b-5ffb-47ea-8277-449a34a83ef8" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://maps.googleapis.com" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="cb75559b-5ffb-47ea-8277-449a34a83ef8fileName">https%3A%2F%2Fmaps.googleapis.com</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://maps.googleapis.com</con:endpoint>
  </con:endpoints>
</con:interface>
