<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="8ed9c91e-96a6-464f-8c9f-fc39f0d4ea8e" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://maps.googleapis.com" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="8ed9c91e-96a6-464f-8c9f-fc39f0d4ea8efileName">https%3A%2F%2Fmaps.googleapis.com</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://maps.googleapis.com</con:endpoint>
  </con:endpoints>
</con:interface>
